
<nav class="fixed top-4 left-1/2 -translate-x-1/2 w-[92%] max-w-6xl glass rounded-full z-50">

<div class="flex justify-between items-center px-8 h-16">

<h1 class="font-bold tracking-widest">
TAHMID
</h1>

<ul class="hidden md:flex gap-8 text-sm">

<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="education.html">Education</a></li>
<li><a href="skills.html">Skills</a></li>
<li><a href="contact.html">Contact</a></li>

</ul>

<div class="flex items-center gap-3">

<a href="assets/rsm.pdf"
   download="rsm.pdf"
   class="bg-indigo-500 hover:bg-indigo-600 px-5 py-2 rounded-full">
   Download CV
</a>

<button
id="theme-toggle"
class="relative w-16 h-8 bg-zinc-700 rounded-full transition-all duration-300">

<div
id="toggle-circle"
class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full transition-all duration-300">
</div>

</button>

</div>

</div>

</nav>

